bitarray==2.9.2
blinker==1.8.2
braq==0.0.6
chardet==5.2.0
click==8.1.7
colorama==0.4.6
defusedxml==0.7.1
docx==0.2.4
Flask==3.0.3
fonttools==4.53.0
fpdf==1.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
paradict==0.0.7
pdfreader==0.1.15
pillow==10.3.0
pip==23.2.1
pycryptodome==3.20.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-pptx==0.6.23
setuptools==65.5.0
shared==0.0.30
six==1.16.0
typing_extensions==4.12.2
ustrid==0.0.3
Werkzeug==3.0.3
written==0.0.4
XlsxWriter==3.2.0